*{
    padding: 0;
    margin: 0;
}

body {
    padding-top: 70px;
    background-color: black;
    font-size: large;
}

/* main styles */

main {
    color: #666666;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    /*line-height: 1.42857;*/
    padding: 0;
    margin: 0;
}

/*heading*/
h1, h2, h3, h4, h5, h6 {
    color: #333;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    letter-spacing: 1.5px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,;
    font-size: 36px;
    font-weight: 300;
    color: #333;
    line-height: 1.5;
    letter-spacing: 1.5;
}

h3 {
    margin-bottom: 40px;
    font-weight: 600;
}

.page-title {
    margin-bottom: 60px;
    font-weight: 800;
    color: #aaa;
}

.text-light {
    color: #7d7d7d;
    font-weight: 600;
}

caption > h2 {
    color: #333;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    margin-bottom: 60px;
    font-weight: 800;
}


/*paragraphs*/
p {
    box-sizing: border-box;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0px;
}

p .citation{
    color: #aaa;
}