* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    background-color: black;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.9;
    padding: 2rem;
    text-align: center;
    border: 5px solid #530727a6;
    border-radius: 20px;
    width: 400px;
}

.login-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin: 10px 0;
    background: #fff;
}

.input-group i {
    margin-right: 10px;
    color: #530727a6;
    font-size: 18px;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 5px;
}

.btn-login {
    background: #530727a6;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background: #3b051b;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: white;
}