@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    padding-top: calc(10vh + 50px);
}

table {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

td {
    padding: 12px;
}

h2 {
    color: #aaa;
}

label {
    font-weight: bold;
    color: #ffffff;
}

input[type="text"].desfoque,
input[type="email"].desfoque,
input[type="tel"].desfoque,
textarea.desfoque {
    width: 100%;
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus.desfoque,
input[type="email"]:focus.desfoque,
input[type="tel"]:focus.desfoque,
textarea:focus.desfoque {
    border-color: #9b59b6;
    outline: none;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
}

textarea.desfoque {
    resize: none;
    /* Impede o redimensionamento */
    height: 150px;
    /* Define uma altura fixa */
}

input.desfoque[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.1s;
}

input[type="submit"]:hover {
    background-color: #9b59b6;
}

input[type="submit"]:active {
    transform: scale(0.98);
}

*/

/* Estilo para a seleção de texto */
::selection {
    background-color: #4CAF50;
    /* Cor de fundo da seleção */
    color: #000000;
    /* Cor do texto selecionado */
}

/* Para navegadores mais antigos do Firefox */
::-moz-selection {
    background-color: #4CAF50;
    color: #000000;
}

/* configuração pop-up */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.modal-content {
    background-color: #333;
    color: white;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    max-width: 80%;
}

#modalMessage {
    margin: 0;
    font-size: 16px;
    padding: 10px 0px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#contact-buttom {
    border: none !important;
    outline: none !important;
}


/* ACESSIBILIDADE BUTTON */
/* Estiliza o botão fixo no canto inferior direito */
.acessibilidade-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 1;
}

.acessibilidade-btn:hover {
    background-color: #0056b3;
}

/* Menu de opções */
.acessibilidade-menu {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
}

.acessibilidade-menu button {
    padding: 8px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.acessibilidade-menu button:hover {
    background-color: #0056b3;
}

.alto-contraste {
    color: yellow !important;
}

.alto-contraste {
    color: yellow !important;
}

.alto-contraste a {
    color: yellow !important;
}

.alto-contraste a:hover {
    color: yellow !important;
}

.alto-contraste input,
.alto-contraste textarea,
.alto-contraste select {
    background-color: #444;
    color: yellow !important;
}


.alto-contraste,
#acessibilidade-btn {
    border-color: none;
}


#acessibilidade-btn,
#acessibilidade-menu {
    border: none;
    outline: none;
}

.alto-contraste button {
    /* Estilos dos botões */
    background-color: #333;
    /* Cinza escuro */
    color: #fbff00;
    border: solid #fbff00;
}

.alto-contraste button:hover {
    /* Estilos dos botões ao passar o mouse */
    background-color: #000;
    /* Preto */
    color: #fbff00;
}

.alto-contraste .buy-pass a {
    /* Estilos dos links */
    background-color: #333;
    /* Cinza escuro */
    color: #fbff00;
    text-decoration: none;
    border-color: #fbff00;
}

.alto-contraste .buy-pass a:hover {
    /* Estilos dos links ao passar o mouse */
    background-color: #000;
    /* Preto */
    color: #fbff00;
    border: solid #a2a500;
}

.alto-contraste #contactFormu button[type="submit"] {
    /* Estilos do botão de envio */
    background-color: #333;
    /* Cinza escuro */
    color: #fbff00;
    border: solid #fbff00;
}

.alto-contraste #contactFormu button[type="submit"]:hover {
    /* Estilos do botão de envio ao passar o mouse */
    background-color: #000;
    /* Preto */
    color: #fbff00;
    border: solid #fbff00;
}

.alto-contraste .check input[type="reset"] {
    /* Estilos do botão de reset */
    background-color: #333;
    color: #fbff00;
    border-color: #fbff00;
}

.alto-contraste .check input[type="reset"]:hover {
    /* Estilos do botão de reset ao passar o mouse */
    background-color: #000;
    color: #fbff00;
    border-color: #706900;
}

.alto-contraste .check input[type="submit"] {
    /* Estilos do botão de envio */
    background-color: #333;
    color: #fbff00;
    border-color: #fbff00;

}

.alto-contraste .check input[type="submit"]:hover {
    /* Estilos do botão de envio ao passar o mouse */
    background-color: #000;
    color: #fbff00;
    border-color: #706900;
}

.alto-contraste .check input[type="button"] {
    display: block;
    margin: 0 0px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #7c7c7c;
    border: 2px solid #ffee00;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: border 0.5, border-color 0.5;

}

.alto-contraste .check input[type="button"]:hover {
    background-color: #474747;
    border: 2px solid #706900;
    border-radius: 5px;
    transition: 0.5s;
}


.alto-contraste input[type="date"]::-webkit-calendar-picker-indicator {
    /* Efeito de cor ao calendário */
    filter: invert(1) brightness(1) contrast(1);
    /* Cor do ícone do calendário */
}

.cancelreading {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 75px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    pointer-events: auto;
    z-index: 1;
}

.cancelreading:hover {
    background-color: #e6e6e6;
}

.alto-contraste,
#cancelreading {
    border-color: none;
}

#cancelreading,
#acessibilidade-menu {
    border: none;
    outline: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* END ACESSIBILIDADE BUTTON */

/* translator */

.skiptranslate {
    color: transparent !important;
    z-index: 1 !important;
}


/* end translator */


.goog-te-combo {
    background-image: url('https://cdn-icons-png.flaticon.com/512/300/300226.png') !important;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 32px !important;
    height: 32px !important;
    border: none !important;
    outline: none !important;
    z-index: 1 !important;
}

/* Personaliza o <div> que envolve o seletor de idioma */
#\:0\.targetLanguage {
    background-color: transparent !important;  /* Fundo transparente */
    border: none !important;  /* Remove a borda */
    padding: 0 !important;  /* Remove o preenchimento */
    margin: 0 !important;  /* Remove a margem */
    display: inline-block;  /* Garante que o elemento fique na linha com outros elementos */
    z-index: 1 !important;
    width: 32px !important;
    height: 30px !important;
}

/* Personaliza o <select> do widget */
#\:0\.targetLanguage select.goog-te-combo {
    all: unset;  /* Remove todos os estilos aplicados ao elemento */
    background-color: transparent !important;  /* Fundo transparente */
    font-size: 0% !important;  /* Tamanho da fonte */
    border: transparent none !important;
    border-radius: 5px !important;  /* Bordas arredondadas */
    width: 10px !important;
    padding: 0px 10px !important;
    cursor: pointer;  /* Muda o cursor para indicar interatividade */
    z-index: 1 !important;
}

#\:0\.targetLanguage select.goog-te-combo option[value=""]:first-child {
    display: none !important;  /* Oculta o primeiro option */
    z-index: 1 !important;
}

/* Estiliza as opções dentro do <select> */
#\:0\.targetLanguage select.goog-te-combo option {
    background-color: transparent !important;  /* Fundo transparente */
    padding: 10px 10px !important;  /* Espaçamento interno das opções */
    font-size: 14px !important;  /* Tamanho da fonte das opções */
    color: #333 !important;  /* Cor do texto das opções */
    z-index: 1 !important;
}

/* Altera a cor da opção selecionada */
#\:0\.targetLanguage select.goog-te-combo option:checked {
    background-color: rgb(78, 78, 78) !important;  /* Fundo transparente */
    color: #ffffff !important;  /* Cor do texto da opção selecionada */
    z-index: 1 !important;
}