*{
    padding: 0;
    margin: 0;
}

body {
    min-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/ClinicaIA.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 300px;
    background-size: 100%;
    position: relative;
    text-align: center;
    font-size: large;
    color: white;
}

.all {
    margin: 40px 0px;
    margin-top: 25px;
}

header hr {
    width: 100%;
    height: 5px;
    border: 0px;
    background-color: darkgrey;
}

form#formClic {
    display: block;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.843);
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid #530727a6;
    border-radius: 25px;
}

div input,
div label {
    display: inline-flexbox;
}

div label {
    padding-left: 32px;
}

.title {
    color: #d3d3d3;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    margin-top: 5px;
}

#border-fset {
    border: 2px solid white;
    border-radius: 25px;
}

.campo {
    min-width: 30px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    color: #333;
}

.spaceline {
    border: 3px solid black;
    padding: 10px 20px;
}

#last-camp {
    padding-bottom: 20px;
}

#option-contract label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

#option-contract select {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    color: #333;
}

#option-contract select option {
    font-size: 16px;
    font-weight: bold;
}

#termos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:  20px;
    background-color: #737373;
    color: #550000;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
    width: 50%;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}


#termos label {
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
}

#termos p {
    line-height: 0.5;
    margin-top: 10px;
    text-align: center;
}

#termos p small span {
    color: #fff;
    text-align: center;
    height: 20px;
    width: 363px;
    font: 0.5em sans-serif;
}

/* SUBMIT */
.check input[type="submit"] {
    display: inline-block; /* ALTERADO de block para inline-block */
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #005a9c;
    background-color: #005a9c;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s;
}

.check input[type="submit"]:hover {
    background-color: #00426d;
    border-color: #002a46;
}

/* RESET */
.check input[type="reset"] {
    display: inline-block; /* ALTERADO de block para inline-block */
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #550000;
    background-color: #5f0000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s;
}

.check input[type="reset"]:hover {
    background-color: #440000;
    border-color: #350000;
}

/* BUTTON */
.check input[type="button"] {
    display: inline-block; /* ALTERADO de block para inline-block */
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #7c7c7c;
    border: 2px solid #8d8d8d;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s;
}

.check input[type="button"]:hover {
    background-color: #474747;
    border-color: #161616;
}

/* (demais estilos mantidos iguais) */


/* STYLE ASTERISCO IMPORTANT */

.astimport {
    color: rgb(202, 0, 0);
}

@media (max-width: 1500px) {
    body {
        background-size: auto;
    }
    form#formClic {
        display: block;
        max-width: 800px;
        background-color: rgba(0, 0, 0, 0.843);
        margin: 0px auto;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 5px solid #530727a6;
        border-radius: 25px;
    }
    div input,
    div label {
        display: block;
    }    
    .check {
        display: flex;
        flex-direction: column; /* um embaixo do outro */
        align-items: center;     /* centraliza na horizontal */
        gap: 10px;               /* espaço entre os botões */
        margin-top: 20px;
    }
    
}