main {
    background-color: rgb(39, 39, 39);
    padding-top: 90px;
    padding-bottom: 180px;
}

/* margrin */
.container-margin {
    margin-top: 90px;
    margin-left: 40px ;
    margin-right: 40px ;
}

/* paddding */
.section-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-padding-bt{
    padding-bottom: 30px;
}

.section-padding-tp{
    padding-top: 30px;
}

/* listing */
ul.list-inside {
    padding-left: 0px;
    list-style: inside;
    margin-bottom: 25px;
    font-size: 16px;
}

ul.list-none {
    list-style: none;
    padding-left: 0px;
}


/*Links & Anchor Tag*/

.Link {
    color: #333;
}

.Link:hover {
    color: #c7a674;
}

/* Citation */

.citation {
    text-decoration: none;
    font-weight: 600;
}

/* list form */

#form {
    display: block;
    max-width: 400px;
    margin: 0px auto;
    padding-bottom: 60px;
}

#form ul {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 0px;
    text-align: center;
}

#form ul .block {
    display: block;
    margin: 20px auto;
    padding: 0px 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #aaa;
    max-width: 80%;
    width: 80%;
    height: 78px;
    box-sizing: border-box;
    background-color: black;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#form ul .block:hover {
    background-size: cover;
    background-position: center;
    transition: transform 0.5s;
    transform: scale(1.2);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

/* TOPICS */
#cardiology:hover {
    background-image: url("../img/cardiology.jpg");
}
#dermatology:hover {
    background-image: url("../img/dermatology.jpg");
}
#ginecology:hover {
    background-image: url("../img/ginecology.jpg");
}
#pediatry:hover {
    background-image: url("../img/pediatry.jpg");
}
#endocrinology:hover {
    background-image: url("../img/endocrinology.jpg");
}
#ortopedy:hover {
    background-image: url("../img/ortopedy.jpg");
}

#form ul .block li{
    display: block;
    padding: 30px 0px;
    text-align: center;
    border: 1px solid #410606;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #aaa;
    max-width: 100%;
    width: 100%;
    height: 78px;
    box-sizing: border-box;
    transition: transform 0.5s;
    background-size: cover;
    background-position: center;
    position: relative;
}

#form ul .block li:hover {
    background-color: rgba(0, 0, 0, 0.500);
    border: 1px solid #ddd;
    color: #ddd;
    width: 100%;
    box-sizing: border-box;
}